<template>
  <div>
    <div v-if="$auth.ready() && loaded">
      <b-navbar style="background-color: #4c37f3;">
        <b-navbar-brand tag="router-link" :to="{ path: '/' }" style="color: white;">
          Test 4 All
        </b-navbar-brand>

        <b-navbar-nav>
          <b-nav-item tag="router-link" :to="{ name: 'home' }">
            <span style="color: white;">Home</span>
          </b-nav-item>
          <b-nav-item tag="router-link" :to="{ name: 'viewtemplate' }">
            <span style="color: white;">View Template</span>
          </b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">

          <!-- Login -->
          <b-nav-item tag="router-link" :to="{name: 'login'}" v-show="!$auth.check()" right>
            <span style="color: white;">Login</span>
          </b-nav-item>

          <!-- Register -->
          <b-nav-item tag="router-link" :to="{name: 'register'}" v-show="!$auth.check()" right>
            <span style="color: white;">Register</span>
          </b-nav-item>

          <!-- User Menu -->
          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template slot="button-content">
              <em style="color: white;">{{ userDisplayName }}</em>
            </template>
            <b-dropdown-item href="#">
              <span>Profile</span>
            </b-dropdown-item>
            <b-dropdown-item href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
              <span>Sign Out</span>
            </b-dropdown-item>
          </b-nav-item-dropdown>

          <b-form id="logout-form" action="/logout" method="POST" style="display: none;">
            <input type="hidden" name="_token" :value="csrf">
          </b-form>

        </b-navbar-nav>

        
          
        <!-- <span v-show="$auth.check('admin')">
            <router-link :to="{name: 'admin'}">admin</router-link> &bull;
            <router-link :to="{name: 'users'}">users</router-link> &bull;
        </span>
        
        <span v-show="$auth.check()">
            <router-link :to="{name: 'account'}">account</router-link> &bull;
            <a v-on:click="logout()" href="javascript:void(0);">logout</a>
        </span>

        <span v-show="$auth.impersonating()">
            &bull;
            <a v-on:click="unimpersonate()" href="javascript:void(0);">(logout {{ $auth.user().username }})</a>
        </span> -->
      </b-navbar>

      <hr/>
      
      <div id="app">
        <router-view></router-view>
      </div>

      <hr/>

      <!-- <div style="text-align:center; font-size:12px;">
        Websanova <a href="https://github.com/websanova/laravel-api-demo">demo server</a> available on GitHub
      </div> -->
    </div>

    <div v-if="!$auth.ready() || !loaded">
      <div style="text-align:center; padding-top:50px;">
        Loading site...
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        userDisplayName: "",
        context: 'app context',
        loaded: false
      };
    },
    mounted() {
      var _this = this;

      // Set up $auth.ready with other arbitrary loaders (ex: language file).
      setTimeout(function () {
        _this.loaded = true;
      }, 500);
    },
    created() {
      var _this = this;

      this.$auth.ready(function () {
        console.log('ready ' + this.context);
      });

      window.addEventListener('scroll', this.handleScroll);
      fetch('/home/me')
      .then(response => {
        return response.json()
      })
      .then((data) => {
        this.userDisplayName = data.name;
      });
    },
    methods: {
      logout() {
        this.$auth.logout({
          makeRequest: true,
          success() {
            console.log('success ' + this.context);
          },
          error() {
            console.log('error ' + this.context);
          }
        });
      },
      unimpersonate() {
        this.$auth.unimpersonate({
          success() {
            console.log('success ' + this.context);
          },
          error() {
            console.log('error ' + this.context);
          }
        });
      }
    }
  }
</script>