<template>
    <div class="justify-content-md-center">
        <div class="col-md-12">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <section> 
                    
                    <b-row class="justify-content-md-center">
                        <h2 style="color: #4c37f3;">Welcome to the testing VUE Project</h2>
                    </b-row>
                    
                    <b-row class="justify-content-md-center" style="margin-bottom: 5%;">
                        <div class="content">
                            <div class="content__container">
                                <p class="content__container__text">
                                Welcome
                                </p>
                                
                                <ul class="content__container__list">
                                <li class="content__container__list__item">user !</li>
                                <li class="content__container__list__item">stranger !</li>
                                <li class="content__container__list__item">curious man !</li>
                                <li class="content__container__list__item">everybody !</li>
                                </ul>
                            </div>
                        </div>
                    </b-row>

                    <b-col style="text-align: center;">
                        <p>Please feel free to add you link to your page here</p> 
                        <!-- Add links here -->
                        <b-link :to="{ name: 'users' }">--Enter Users View--</b-link>
                        <br>
                    </b-col>

                </section>
            </div>
        </div>
    </div>
</template>

<script>
 export default {
    data() {
        return {    
        }
    }
}

</script>

<style lang="scss" scoped>

    .content {
        position: absolute;
        overflow:hidden;
        
        font-family: 'Lato', sans-serif;
        font-size: 35px;
        line-height: 50px;
        color: #59d630;
        
        &__container {
            font-weight: 600;
            overflow: hidden;
            height: 50px;
            padding: 0 50px;

            &:before {
                content: '[';
                left: 0;
            }

            &:after {
                content: ']';
                position: absolute;
                right: 0;
            }

            &:after, &:before {
                position: absolute;
                top: 0;
                
                color: #4c37f3;
                font-size: 42px;
                line-height: 50px;
                
                -webkit-animation-name: opacity;
                -webkit-animation-duration: 2s;
                -webkit-animation-iteration-count: infinite;
                animation-name: opacity;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            }

            &__text {
                display: inline;
                margin: 0;
            }

            &__list {
                margin-top: 0;
                padding-left: 170px;
                text-align: left;
                list-style: none;
                
                -webkit-animation-name: change;
                -webkit-animation-duration: 10s;
                -webkit-animation-iteration-count: infinite;
                animation-name: change;
                animation-duration: 10s;
                animation-iteration-count: infinite;

                &__item {
                    line-height:50px;
                    margin:0;
                }
            }
        }
    }

    @-webkit-keyframes opacity {
        0%, 100% {opacity:0;}
        50% {opacity:1;}
    }

    @-webkit-keyframes change {
        0%, 12.66%, 100% {transform:translate3d(0,0,0);}
        16.66%, 29.32% {transform:translate3d(0,-25%,0);}
        33.32%,45.98% {transform:translate3d(0,-50%,0);}
        49.98%,62.64% {transform:translate3d(0,-75%,0);}
        66.64%,79.3% {transform:translate3d(0,-50%,0);}
        83.3%,95.96% {transform:translate3d(0,-25%,0);}
    }

    @-o-keyframes opacity {
        0%, 100% {opacity:0;}
        50% {opacity:1;}
    }

    @-o-keyframes change {
        0%, 12.66%, 100% {transform:translate3d(0,0,0);}
        16.66%, 29.32% {transform:translate3d(0,-25%,0);}
        33.32%,45.98% {transform:translate3d(0,-50%,0);}
        49.98%,62.64% {transform:translate3d(0,-75%,0);}
        66.64%,79.3% {transform:translate3d(0,-50%,0);}
        83.3%,95.96% {transform:translate3d(0,-25%,0);}
    }

    @-moz-keyframes opacity {
        0%, 100% {opacity:0;}
        50% {opacity:1;}
    }

    @-moz-keyframes change {
        0%, 12.66%, 100% {transform:translate3d(0,0,0);}
        16.66%, 29.32% {transform:translate3d(0,-25%,0);}
        33.32%,45.98% {transform:translate3d(0,-50%,0);}
        49.98%,62.64% {transform:translate3d(0,-75%,0);}
        66.64%,79.3% {transform:translate3d(0,-50%,0);}
        83.3%,95.96% {transform:translate3d(0,-25%,0);}
    }

    @keyframes opacity {
        0%, 100% {opacity:0;}
        50% {opacity:1;}
    }

    @keyframes change {
        0%, 12.66%, 100% {transform:translate3d(0,0,0);}
        16.66%, 29.32% {transform:translate3d(0,-25%,0);}
        33.32%,45.98% {transform:translate3d(0,-50%,0);}
        49.98%,62.64% {transform:translate3d(0,-75%,0);}
        66.64%,79.3% {transform:translate3d(0,-50%,0);}
        83.3%,95.96% {transform:translate3d(0,-25%,0);}
    }

/* 6 is the number of animation.
Here, there are 4 lines :

1 to 2
2 to 3
3 to 4
4 to 3
3 to 2
2 to 1

6x + 6y = 100 (100% duration)

HERE : 
y = 4 -> Animation between two lines
x = 12.66 -> Time spent on a line

You can define a value and calculate the other if you want change speed or the number of lines */
</style>