<template>
    <div class="justify-content-md-center">
        <div class="col-md-12">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <section> 
                    
                    <!-- Put Components HERE -->
                    I'm a View Template!
                    <br/>
                    <pre>{{rawHTML}}</pre>

                </section>
            </div>
        </div>
    </div>
</template>

<script>
 export default {
        data() {
            return {  
                rawHTML: `
<template>
    <div class="justify-content-md-center">
        <div class="col-md-12">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <section> 
                    
                    <!-- Put Components HERE -->

                </section>
            </div>
        </div>
    </div>
<\/template>

<script>
export default {
    data() {
        return {  
        }
    },
    mounted: function () {
    },
    methods: {
    }
}
<\/script>

<style lang="scss" scoped>
    // Put scss style HERE
<\/style>`
            }
        }
 }
</script>

<style lang="scss" scoped>
    // Put scss style HERE
</style>